/* Import Google Font - Spartan */
@import url("https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap");

/* Global Styles */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3; /* Set background color */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Spartan, sans-serif; /* Set font family */
  font-size: 12px;
  /* Set background image */
  background: url("img/bg.jpg") no-repeat center center/cover;
}

/* Logo Styles */
div.logo {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 60px;
  left: 50px;
  z-index: 1;
  /* Set logo background image */
  background: url("img/logo.webp") no-repeat center center/cover;
  animation: rotateLogo 6s linear infinite; /* Apply animation */
}

/* Custom animation for the logo */
@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Music Player Container Styles */
.player-container {
  height: 500px;
  width: 400px;
  background: #e7e7e7; /* Set background color */
  border-radius: 20px;
  /* Apply box shadow */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 0;
}

/* Image Container Styles */
.img-container {
  width: 300px;
  height: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  /* Apply box shadow */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

/* Heading Styles */
h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress Styles */
.progress-container {
  background: #fff; /* Set background color */
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323; /* Set background color */
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear; /* Apply transition */
}

/* Duration Wrapper Styles */
.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Player Controls Styles */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

/* Font Awesome Icon Styles */
.fas {
  font-size: 30px;
  color: rgb(129, 129, 129); /* Set color */
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}

/* Hover effect for Font Awesome Icons */
.fas:hover {
  filter: brightness(80%);
}

/* Main Button Styles */
.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Media Query for iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
